@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fixed-width {
  width: 300px;
  overflow: hidden;
}

.light-image {
  display: block;
}

.dark .light-image {
  display: none;
}

.dark-image {
  display: none;
}

.dark .dark-image {
  display: block;
}
